/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
.d-flex {
    display: flex;
}

.f-wrap {
    flex-wrap: wrap;
}

.f-between{
    justify-content: space-between;
}

.f-column{
    flex-direction: column;
}

.f-align-center{
    align-items: center;
}

.f-end{
    justify-content: flex-end;
}

.f-justify-center {
    justify-content: center;
}

body {
    font-family: 'Lato', sans-serif;
    background-image: linear-gradient(to bottom,
        #009688 0px,
        #009688 15vh,
        #dddbd1 15vh,
        #d2dbdc 100%);
    height: 100vh;
    overflow: hidden;
}

div#app {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

main.wrapper {
    margin: auto;
    width: 75%;
    min-width: 900px;
    height: 90%;
}

section#left-content {
    width: 40%;
    background-color: white;
    border: 1px solid #bababa;
}

div.topbar {
    width: 100%;
    height: 65px;
    background-color: #eaeaea;
}

div.user-profile-info {
    height: 100%;
}

.icons i {
    color: #b1b1b1;
    padding-left: 1rem;
    font-size: 1.3rem;
}

.notifications{
    width: 100%;
    height: 85px;
    background-color: #8edafc;
    padding: 1rem;
}

.bell {
    background-color: white;
    margin-right: 1rem;
    border-radius: 50%;
    padding: 1rem;
}

.fa-bell-slash {
    color: #8edafc;
    font-size: 1.3rem;
}

div.searchbar-container {
    padding: .3rem;
    height: 100%;
}

.label-search {
    width: 20%;
    background-color: white;
    height: 90%;
}

#search {
    width: 80%;
    height: 90%;
    border: none;
    padding-left: 1rem;
}

label .fa-magnifying-glass {
    font-size: 1.5rem;
    color:  #b1b1b1;
    padding: .5rem 1rem;
}



div.contacts-list {
    overflow-y: scroll;
    height: calc(100% - 215px);
}

div.contacts-list .contact {
    height: 70px;
}

.profile-picture {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin: 15px;
}

.profile-picture img {
    width: 100%;
    height: 100%;
}

div.contact .contact-detail{
    width: calc(100% - 80px);
    height: 60px;
    margin: 15px 0;
}





section#right-content {
    width: 60%;
}

div.chat {
    height: calc(100% - 145px );
    width: 100%;
    background-image: url('../img/mine.jpg');
    padding: 1.5rem 2.5rem;
}

div.message-input {
    height: 80px;
    background-color: #f3eeea;
}

.message-input i {
    font-size: 1.3rem;
    color: #6c7375;
    padding: 1rem;
}


.message-sent {
    background-color: #d5f9ba;
    align-self: flex-end;
    border-radius: 5px;
    padding: .7rem;
    margin-bottom: .5rem;
    width: 40%;
}

.message-received {
    background-color: white;
    border-radius: 5px;
    padding: .7rem;
    margin-bottom: .5rem;
    width: 40%;
}
