/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ROOT */
:root{
    --main-bg-color1: #dadbd2;
    --main-bg-color2:#009688;
}

/* COMMON */
.d-flex {
    display: flex;
}

.f-wrap {
    flex-wrap: wrap;
}

.f-between{
    justify-content: space-between;
}

.f-column{
    flex-direction: column;
}

.f-align-center{
    align-items: center;
}

.f-end{
    justify-content: flex-end;
}

.f-justify-center {
    justify-content: center;
}

body {
    font-family: 'Montserrat', sans-serif;
}

main {
    height: 100vh;
}

.upper-bg {
    background-color: var(--main-bg-color2);
    height: 15%;
}

.lower-bg {
    background-color: var(--main-bg-color1);
    height: 85%;
}

#my-app {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.content {
    max-width: 85vw;
    height: 94vh;
    margin: 3vh auto;
    display: flex;
}

#contacts {
    height: 100%;
    width: 35%;
    background-color: #eaeaea;
}

#chat {
    height: 100%;
    width: 65%;
    background-color: #e3dbd3;
}


/* SECTION CONTACT */
.user-bar {
    height: 7%;
    padding: 1rem 1rem;
}

.main-user img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.icons i {
    color: #b1b1b1;
    padding-left: 1rem;
    font-size: 1.5rem;
}




.notifications {
    height: 10%;
    background-color: #8edafc;
    padding: 1rem 1rem;
}

.bell {
    background-color: white;
    margin-right: 1rem;
    border-radius: 50%;
    padding: 1rem;
}

.fa-bell-slash {
    color: #8edafc;
    font-size: 1.5rem;
}

.underline {
    text-decoration: underline;
    color:  #b1b1b1;
    font-size: .9rem;
}







.search-bar {
    height: 5%;
    padding: 0 1rem 0;
}

.search-bar-container {
    border-radius: 5px;
    background-color: white;
    height: 90%;
    margin: .2rem 0;
}

.fa-magnifying-glass {
    font-size: 1.5rem;
    color:  #b1b1b1;
    padding: 0 1rem;
}

#search {
    width: 95%;
    border: none;
}

.chat-list {
    height: 78%;
    background-color: white;
    overflow-y: scroll;
}

.card {
    padding: 1rem 0 0 1rem;
}

.avatar-style {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.contact-text {
    padding-left: 1rem;
}