/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ROOT */
:root{
    --main-bg-color1: #dadbd2;
    --main-bg-color2:#009688;
    --chat-color: #e4dcd4;
    --bar-color: #eaeaea;
}

/* COMMON */
.d-flex {
    display: flex;
}

.f-wrap {
    flex-wrap: wrap;
}

.f-between{
    justify-content: space-between;
}

.f-column{
    flex-direction: column;
}

.f-align-center{
    align-items: center;
}

.f-end{
    justify-content: flex-end;
}

.f-justify-center {
    justify-content: center;
}

.avatar-style {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.underline {
    text-decoration: underline;
    color:  #b1b1b1;
    font-size: .9rem;
}

.magnifying-glass-custom {
    font-size: 1.5rem;
    color:  #b1b1b1;
    padding: .5rem 1rem;
}



body {
    font-family: 'Montserrat', sans-serif;
}

main {
    height: 100vh;
}

.upper-bg {
    background-color: var(--main-bg-color2);
    height: 15%;
}

.lower-bg {
    background-color: var(--main-bg-color1);
    height: 85%;
}

#my-app {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.content {
    max-width: 85vw;
    height: 94vh;
    margin: 3vh auto;
    display: flex;
}

#contacts {
    height: 100%;
    width: 35%;
    background-color: var(--bar-color);
    border-right: .1px solid #b1b1b1;
}

#chat {
    height: 100%;
    width: 65%;

}


/* SECTION CONTACT */

/* User bar */
.user-bar {
    height: 7%;
    padding: 1rem 1rem;
    background-color: var(--bar-color);
}

.icons i {
    color: #b1b1b1;
    padding-left: 1rem;
    font-size: 1.5rem;
}



/* Notifications */
.notifications {
    height: 10%;
    background-color: #8edafc;
    padding: 1rem 1rem;
}

.bell {
    background-color: white;
    margin-right: 1rem;
    border-radius: 50%;
    padding: 1rem;
}

.fa-bell-slash {
    color: #8edafc;
    font-size: 1.5rem;
}




/* Search bar */
.search-bar {
    height: 5%;
    padding: .2rem;
}

.search-bar-container {
    border-radius: 5px;
    background-color: white;
}


#search {
    width: 95%;
    border: none;
}



/* Chat list */
.chat-list {
    height: 78%;
    background-color: white;
    overflow-y: scroll;
}

.card {
    padding: 1rem 0 0 1rem;
}

.card p {
    color:  #b1b1b1;
    font-size: .9rem;
}

.contact-text {
    padding-left: 1rem;
}



/* SECTION CHAT */
.chat-bar {
    width: 100%;
    height: 7%;
    background-color: var(--bar-color);
    padding-right: 1rem;
}

.main-chat {
    background-color: var(--chat-color);
    height: 85%;
    overflow-y: scroll;
}

.chat-input {
    height: 8%;
    padding: .2rem 2rem;
}

.chat-input i {
    font-size: 1.5rem;
    color: #6b7476;
}

.text-bar {
    height: 90%;
    width: 85%;
    border: none;
    border-radius: 5px;
    padding-left: 1rem;
}
