<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Boolzapp</title>

        <!-- Google font-->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">

        <!-- Awesome font -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">

        <!-- custom style css -->
        <link rel="stylesheet" href="./css/style.css" />
    </head>

    <body class="d-flex">

        <div id="app" class="d-flex">

        <main class="wrapper d-flex">

            <section id="left-content">

                <div class="topbar user-profile d-flex f-between f-align-center">
                    <div class="user-profile-info d-flex f-align-center">
                        <figure class="profile-picture">
                            <img src="img/avatar_io.jpg" alt="User Avatar">
                        </figure>
                        <h4>
                            Sofia
                        </h4>
                    </div>
                    <div class="icons">
                        <a href="#"><i class="fa-solid fa-circle-notch"></i></a>
                        <a href="#"><i class="fa-solid fa-message"></i></a>
                        <a href="#"><i class="fa-solid fa-ellipsis-vertical"></i></a>
                    </div>
                </div>
                <div class="notifications d-flex f-align-center">
                    <div class="bell">
                        <i class="fa-solid fa-bell-slash"></i>
                    </div>
                    <div class="text">
                        <p>Ricevi notifiche di nuovi messaggi</p>
                        <p class="underline">Attiva notifiche desktop</p>
                    </div>
                </div>
                <div class="contact-searchbar topbar ">
                    <div class="searchbar-container d-flex f-align-center">
                        <label for="search" class="label-search d-flex f-justify-center f-align-center">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </label>
                        <input type="search" id="search" placeholder="Cerca o inizia una nuova chat" v-model="searchUser" @keyup.enter="filteredSearch">
                    </div>
                </div>

                <div class="contacts-list">
                    <div class="contact d-flex"  v-for="(contact, index) in contacts" @click="setCurrentContact(index)" v-show="contact.visible">
                        <div class="profile-picture">
                            <img :src="`./img/avatar${contact.avatar}.jpg`" :alt="contact.name">
                        </div>
                        <div class="contact-detail">
                            <h4>
                                {{contact.name}}
                            </h4>
                            <p>
                                Ultimo messaggio inviato
                            </p>
                        </div>
                    </div>
                </div>

            </section>
            <section id="right-content">
                <div class="topbar selected-contact d-flex f-align-center f-between">
                    <div class="contact-chat-info d-flex f-align-center">
                        <figure>
                            <img :src="`./img/avatar${contacts[currentContact].avatar}.jpg`" :alt="contacts[currentContact].name" :class="'profile-picture'">
                        </figure>
                        <div class="contact-chat-text">
                            <h4>
                                {{contacts[currentContact].name}}
                            </h4>
                            <p>
                                Ultimo accesso oggi alle 12.00
                            </p>
                        </div>
                    </div>
                    <div class="icons">
                        <a href="#"><i class="fa-solid fa-magnifying-glass"></i></a>
                        <a href="#"><i class="fa-solid fa-paperclip"></i></a>
                        <a href="#"><i class="fa-solid fa-ellipsis-vertical"></i></a>
                    </div>
                </div>
                <div class="chat d-flex f-column">
                    <div v-for="message in contacts[currentContact].messages" :class="message.status === 'sent' ? 'message-sent' : 'message-received'">
                        <p>
                            {{message.message}}
                        </p>
                    </div>
                </div>
                <div class="message-input d-flex f-between f-align-center">
                    <i class="fa-regular fa-face-smile"></i>
                    <input type="text" placeholder="Scrivi un messaggio" class="text-bar" v-model="newMsg" @keyup.enter="addNewMsg">
                    <i class="fa-solid fa-microphone"></i>
                </div>
            </section>

        </main>

        </div>

        <script src='https://unpkg.com/vue@3/dist/vue.global.js'></script>
        <script src="./js/main.js"></script>
    </body>

</html>